* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.container {
  display: table;
  width: 100%;
  height: 100%;
  background: #37474F;
}

#game {
  display: table-cell;
  vertical-align: middle;
}

#game canvas {
  margin: 0 auto;
  image-rendering: pixelated;
}

#preloader {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e0f7fa;
}

@keyframes glow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

#preloader .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 4em;
  font-weight: bold;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}